@{
    ViewData["Title"] = "TouristAttractions";
}

<h1 class="text-center">旅遊景點</h1>
<h2 class="text-center">回家作業二</h2>

<div id="travelInformation" class="container">
  
</div>
<script src="~/datas/travel.js"></script>
@section Scripts{
    <script>
        spots.CommonFormat.Section.map(items=>{
            const { stitle, xbody, file } = items;

            let body = xbody.substr(0,100)
            let img = file.img[0].text

            let card =
        `<div class="card d-inline-block" style="width: 18rem;">
            <img src="${img}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">${stitle}</h5>
                <p class="card-text">${body}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>`
        $("#travelInformation").append(card);
        })
        //const datas = spots.CommonFormat.Section.map(items => {
        //    const { stitle, xbody, file } = items;

        //    let body = xbody.substr(0, 100)
        //    let img = file.img[0].text

        //    return 
        //    (
        //        `<div class="card d-inline-block" style="width: 18rem;">
        //            <img src="${img}" class="card-img-top" alt="...">
        //            <div class="card-body">
        //                <h5 class="card-title">${stitle}</h5>
        //                <p class="card-text">${body}</p>
        //                <a href="#" class="btn btn-primary">Go somewhere</a>
        //            </div>
        //        </div>`
        //    )
        //    //$("#travelInformation").append(card);
        //})
        //console.log(datas)
        //document.querySelector('#employeesTable>tbody').innerHTML = datas.join("");


    </script>
}
@section Styles{
    <style></style>
}