@{
    ViewData["Title"] = "Address";
}
<h1 class="text-center">回家作業四</h1>

<h2 class="text-center">連動住址</h2>

<div class="container text-center">
    <select id="cityPicker">
    </select>
    <select id="districtPicker">
    </select>
    <select id="roadPicker">
    </select>
</div>
@section Scripts{
    <script>
        let xhr = new XMLHttpRequest();
        let firstOption = '<option value="請選擇" selected="selected">請選擇</option>'
        xhr.open('GET', '/Api/Cities');
        xhr.send();
        xhr.addEventListener('load', () => {
            const citiesDatas = JSON.parse(xhr.responseText);

            let cities = citiesDatas.map(city => {
                return `<option value="${city}">${city}</option>`
            })


            document.querySelector('#cityPicker').innerHTML = firstOption + cities.join("")

        })

        $("#cityPicker").change(function () {
            $("#roadPicker").empty();
            $("#districtPicker").empty();

            let selectedCity = "";
            selectedCity = $(this).val();
            
            xhr = new XMLHttpRequest();

            xhr.open('GET', `/Api/Districts?city=${selectedCity}`)
            xhr.send()
            xhr.addEventListener('load', () => {
                const districtsDatas = JSON.parse(xhr.responseText);
                let districts = districtsDatas.map(district => {
                    return `<option value="${district}">${district}</option>`
                })

                document.querySelector('#districtPicker').innerHTML = firstOption + districts.join("");
            })

        })

        $("#districtPicker").change(function () {
            let selectedDistrict = "";
            selectedDistrict = $('#cityPicker').val() + $(this).val();

            xhr = new XMLHttpRequest();
            xhr.open('GET', `/Api/Road?district=${selectedDistrict}`);
            xhr.send();
            xhr.addEventListener('load', () => {
                const roadDatas = JSON.parse(xhr.responseText)
                let road = roadDatas.map(road => {
                    return `<option value="${road}">${road}</option>`
                })
                document.querySelector("#roadPicker").innerHTML = firstOption + road.join("");
            })
        })
    </script>
}