@{
    ViewData["Title"] = "previewImage";
}

<h1>previewImage</h1>

<input type="file" name="photo" id="photo" class="form-control" />

<img src="" id="imgPreview" class="img-thumbnail" />


@section Scripts{
    <script>
        const photo = document.querySelector('#photo');

        photo.addEventListener('change', () => {

            const file = photo.files
            if (file.length == 0) {
                $('#imgPreview').attr('src', null)
            }
            else {
                const objectURL = URL.createObjectURL(file[0]);
                $('#imgPreview').attr('src', objectURL)
            }
        })
    </script>


}
@section Styles{
    <style>
        img {
            width: 400px;
        }
    </style>
}